; nexus proxy registry
registry=https://packages.rootcapital.tech/repository/mindsforlife-npm-aggregate/

; authorization
//packages.rootcapital.tech/repository/mindsforlife-npm-aggregate/:_authToken=${rc_npm_token}
//packages.rootcapital.tech/repository/mindsforlife-npm-packages/:_authToken=${rc_npm_token}

; force auth
always-auth=true
